@import url("font-awesome.css");
body{
    font-family: Arial, sans;
    background: #7B7F63;
    color: #black;
}
h1{
    background: #11A883;
    color: white;
}
h1,h2{
    background: #11A883;
    color: white;
    padding:0.25em;
    margin:0px;
}
#wrapper{
    background: white;
    width:60%;
    margin:0px auto;
    padding:0em;
    box-shadow:0px 0px 20px #000;
    font-size:12px;
}

#chatwindow{
    margin: 1em 1em 0em;
}
#contactlist{
    float: right;
    height: 20em;
    overflow: auto;
    border:1px solid grey;
    width: 40%;
}
#contactlist ul{
    list-style: none;
    padding-left:0.5em;
    margin: 0px;
}
#output{
    height: 20em;
    overflow: auto;
    border:1px solid grey;
}
#output .status{
    font-style: italic;
}
#output .message{
    display: block;
}
#output .nick{
    font-weight: bold;
}
#output .nick:after{
    content: ': ';
}

#controls{
    margin: 0em 1em;
}
input {
    border: 1px solid grey;
    margin: 0px;
}


.private{
    position: fixed;
    bottom:0px;
    height:200px;
    width: 150px;
    z-index:9;
    background: white;
    box-shadow:0px 0px 20px #000;
}
.private .conversation{
    height: 170px;
    background: #ddd;
}
.private h2{
    font-size: 10px;
}
.private h2 i{
    float: right;
}
.private input{
    border:0px;
}
