body: {
    font-family: Arial, sans;
    #aaa;
}
#wrapper{
    background: white;
    width:60%;
    margin:0px auto;
    padding:1em;
    box-shadow:0px 0px 20px black
    font-size:12px;
}

#contactlist{
    float: right;
    height: 20em;
    overflow: auto;
    border:1px solid grey;
    width: 40%;
}
#contactlist ul{
    list-style: none;
    padding-left:0.5em;
}
#output{
    height: 20em;
    overflow: auto;
    border:1px solid grey;
}
#output .status{
    font-style: italic;
}
#output .message{
    display: block;
}
#output .nick{
    font-weight: bold;
}
#output .nick:after{
    content: ': ';
}

#input {
    border: 1px solid grey;
    margin: 0px;
    width: 100%;
}
